:root{
    --blue: #2B4570;
    --violet: #7180AC;
    --cyan: #A8D0DB;
    --orange: #E49273;
    --brown: #A37A74;
    --white: #eeebeb;
}
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: var(--blue);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: var(--white);
    min-width: 400px;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
h1{
    margin-bottom: 1.5rem;
    font-size: 4rem;
    color: var(--cyan);
}
ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
li{
    font-weight: 600;
    cursor: pointer;
    width: 80%;
    margin: .25rem auto;
    padding: .15rem .45rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid var(--brown);
    border-radius: 5px;
}
#todo-list .todo.done{
    color: var(--violet);
    text-decoration: line-through;
    font-weight: 400;
}
.fa-trash-can{
    color: var(--orange);
}
.add-todo{
    margin-top: 1rem;
    min-width: 400px;
    text-align: center;
    display: flex;
}
input{
    width: 95%;
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: none;
    padding-left: 3.5rem;
    font-family: inherit;
    font-size: 1.1rem;
    color: var(--blue);
}
.btn-add{
    height: 40px;
    width: 30px;
    border: none;
    background-color: var(--cyan);
    color: var(--white);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.fa-plus{
    font-size: .85rem;
}